* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}



#page2{
  height: 100%;
  width: 100%;
  background: #000;

}
/* #header2{
  height: 100%;
  width: 100%;
} */

#abouticon {
  width: 16vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  background: linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) );
  background-clip: padding-box;
  color: transparent;
  display: flex;
  justify-content: left;
  /* margin-left: 30vw; */
  /* margin-top: 10vw; */
  
}

#abouticon img{
width: 16vw;
height: 16vw;
border-radius: 50%;
/* padding: 3px; */
transition:all 0.5s ease-in-out;
}

#abouticon img:hover{
  box-shadow: 0px 0px 50px 50px #ba4a0e;
}



.heading h1{
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;

}


#description{
  color: antiquewhite;
  /* margin: 5px; */
  justify-content: center;
  text-align: center;
  /* margin-bottom: 20vw; */
  /* display: flex; */

}
#description h4 span {
  background-image: linear-gradient(red, rgb(241, 168, 10));
  -webkit-background-clip: text;   /* ✅ required for Chrome/Safari */
  background-clip: text;           /* ✅ fallback */
  color: transparent;              /* ✅ makes gradient visible */
}

