/* Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}



/* Header */
#header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  text-align: center;
  position: fixed;
  background: transparent;
  
}

#name {
  text-align: left;
  width: 50%;
  color: white;
}
#name span{
    background-image: linear-gradient(red,rgb(241, 168, 10));
    background-clip: text;
    color: transparent;
}

#name:hover {
  text-shadow: darkblue;
  text-decoration: underline;
}

.class {
  display: flex;
  font-size: small;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
  margin: 1vw;
  

}


.class:hover {
  color: white;
  text-shadow: darkblue;
  text-decoration: underline;
  background-image: linear-gradient(red,rgb(241, 168, 10));
  background-clip: text;
  color: transparent;
}
.Contact{
  color: aliceblue;
  border-radius: 100vw;
  background-clip: padding-box;
  padding: 1rem;
   background: transparent;
}
.Contact:hover{
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
color: black;
font-weight: bold;
}



/* Page Layout */
#page {
  display: flex;              /* ✅ side-by-side layout */
  align-items: center;
  gap: 2rem;
  /* margin: 5% 10%; */
  height: 100%;
  width: 100%;
  /* background: #74abc6; */
  background-color: #000;
  
  
  
  
}

/* Avatar */
#avtar {
  width: 30vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  background: linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) );
  background-clip: padding-box;
  color: transparent;
  display: flex;
  margin-left: 8vw;
  /* margin-top: 10vw; */
  /* transition: all 1s ease-in-out; */
  


}

#avtar img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  transition:all 0.5s ease-in-out;
  padding: 3px;
  
}
#avtar img:hover{
  /* background: linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) ); */
  box-shadow: 0px 0px 50px 50px #ba4a0e;
  /* transform: scale(2%); */
   /* transform: scale(-2); */
  /* transform: scaleX(0.5%); */
  /* transform:rotate(360deg) */
  /* transform: scaleY(2); */
  /* transform: translate(-100px); */
}



#intro{
justify-content: center;
text-align: center;  
margin-left: 12vw;
}


/* Intro Section */
#intro h1 {
  font-weight: bolder;
  color: antiquewhite;
  text-align: center;
}
#intro span{
background: linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) );
background-clip: text;
color: transparent;
text-align: center;

}

#intro h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  color: chocolate;
  text-align: center;
  

}

/* Button */
#intro button {
  background-image:linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) ) ;
  color: antiquewhite;
  margin-top: 3%;
  font-weight: bold;
  border-radius: 1rem;
  padding: 2% 4%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px blue;
  text-align: center;
  margin-left: 7vw;
  
}
#intro button span {
  border-radius: 50vw;
}

#intro h1 {
  animation: fadeIn 3s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  from { opacity: 0.3; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


#symbol {
  margin-left: 4px;
  border-radius: 50vw;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background: white;

}

/* Social Icons */
#logorow {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  background-image:linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) ) ;
  background-clip:inherit;
  
}


#page2{
  height: 90%;
  width: 100%;
  background: #000;

}
#header2{
  height: 9%;
  width: 100%;
}

#abouticon {
  width: 16vw;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
  background: linear-gradient(rgb(247, 4, 4) ,rgb(242, 163, 4) );
  background-clip: padding-box;
  color: transparent;
  display: flex;
  justify-content: left;

  /* margin-left: 30vw; */
  /* margin-top: 10vw; */
  
}

#abouticon img{
width: 16vw;
height: 16vw;
border-radius: 50%;
padding: 3px;
transition:all 0.5s ease-in-out;
}

#abouticon img:hover{
  box-shadow: 0px 0px 50px 50px #ba4a0e;
}



.heading h1{
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;

}


#description{
  color: antiquewhite;
  /* margin: 5px; */
  justify-content: center;
  text-align: center;
  margin-bottom: 20vw;
  /* display: flex; */

}
#description h4 span {
  background-image: linear-gradient(red, rgb(241, 168, 10));
  -webkit-background-clip: text;   /* ✅ required for Chrome/Safari */
  background-clip: text;           /* ✅ fallback */
  color: transparent;              /* ✅ makes gradient visible */
}




#page3{
  height: 90%;
  width: 100%;
  background: #000;
}


#header3{
  height: 11%;
  width: 100%;
  
}

/* #skill h2{
  /* margin-top: 10px; */
  /* text-align: right; */
  /* justify-content: space-around; */
  /* display: flex; */
  /* color: white;} */
  
  
  #page3 h2{
    /* display: flex; */
    text-align: center;
    color: white;
  }



.skills-container{
  text-align: left;
  justify-content: space-around;
  display: flex;
  color:antiquewhite;
  box-shadow:tan;
  
}
.skills-container:hover{
  box-shadow: 0px 0px 50px 50px #ba4a0e;

}


.skill-category h3{
  margin-bottom:  3vw;
  margin-top: 2vw;
  color: #ba4a0e;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#skills-container2{
  text-align: left;
  justify-content: space-evenly;
  display: flex;
  color:antiquewhite;
  box-shadow:tan;
  margin-top: 3vw;
  
}


.skill-category2 h3{
  margin-bottom:  3vw;
  margin-top: 2vw;
  color: #ba4a0e;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#skills-container2:hover{
  box-shadow: 0px 0px 50px 50px #ba4a0e;

}




.skill-category:hover, .skill-category2:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 30px #ba4a0e;
}
/* Parallax background for About section */
/* #page2 {
  background: url("WhatsApp\ Image\ 2025-12-21\ at\ 17.01.03.png") no-repeat center center fixed;
  background:size cover;
  /* background-attachment: fixed; Key for parallax }  */
  
#page4{
  height: 90%;
  width: 100%;
  background: #000;
  
}

#header4{
   height: 10%;
  width: 100%;
  /* display: flex; */

}
#page4 h1{
  color: antiquewhite;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
  
  
  /* padding-bottom: 4vw */
}

.highschool{
  /* margin-left: 5px;
  margin-right: 5px; */
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #ba4a0e;
  /* width:25vw ; */
  border: antiquewhite;
  color: wheat;
  justify-content: center;
  display: flex;
   margin-bottom: 1rem;
  /* gap: 1rem; */
  
}
.highschool:hover{
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;

}

.Adca{
  /* margin-left: 5px;
  margin-right: 5px; */
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #ba4a0e;
  /* width:25vw ; */
  border: antiquewhite;
  color: wheat;
  display: flex;
  justify-content: center;
  /* text-align: center;  */
   margin-bottom: 1rem;
}
.Adca:hover{
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;

}
.Adca h3{
  display: flex;
}

.bachelor{
  /* margin-left: 5px;
  margin-right: 5px; */
  box-sizing: border-box;
  box-shadow: 0px 0px 30px #ba4a0e;
  /* width:25vw ; */
  border: antiquewhite;
  color: wheat;
  display: flex;
  justify-content: center; 
  
}
.bachelor:hover{
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;

}


#page5{
  height: 90%;
  width: 100%;
  background: #000;
}
#header5{
  height: 10%;
  width: 100%;
}
#page5 h1{
  color: aliceblue;
  text-align: center;
  margin: 2rem;
  

}
#internship{
   display: flex; 
   gap: 1rem;
   color: aliceblue;

}
.tcs{
  margin-left:  20px;
}
.tcs img{
height: auto;
width: 35vw;
/* box-shadow: 0 18px 40px rgb(207, 72, 5); */
color: transparent;

}
.tcs:hover{
  box-shadow: 0px 0px 50px 50px #ba4a0e;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;

}
.nestle img{
height: auto;
width: 35vw;
/* box-shadow: 0 18px 40px rgb(207, 72, 5); */
color: transparent;
/* display: flex; */
}
.nestle:hover{
  box-shadow: 0px 0px 50px 50px #ba4a0e;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;

}
#page6{
height: 100%;
width: 100%;
background: #000;
color: #ba4a0e;
}
#maindiv{
  background: url(Screenshot\ 2026-01-04\ at\ 6.45.45\ PM.png)no-repeat center fixed;
  background:size cover;
  background-attachment: fixed;
   

}

#header6{
  height: 12%;
  width: 100%;
 background: #000;
 display: flex;
 background: transparent;
}

#maindiv{
  display: flex;

}

#call{
  margin: 2rem;
  padding: 1rem;
  text-align: right;
  justify-content: right;

}

.form-control{
margin: 4rem;
justify-content: right;
text-align: right;
}